{
  "serverPort": 3100,
  "localstackPort": 4566,
  "localstackEndpoint": "http://localhost:4566",
  "enableDynamoProxy": false,
  "dynamoProxyPort": 8000,
  "region": "us-east-1",
  "services": ["dynamodb", "sqs", "sns", "s3", "lambda"],
  "persistence": true,
  "debug": false,
  "seedsDir": "./seeds",
  "autoPackage": false,
  "packageCommand": "npx serverless package",
  "packageTimeoutMs": 300000
}
